[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	co = checkout
	cm = commit
	br = branch
	mg = merge
	df = diff
	st = status
	ad = add
	pushall = push --mirror
[color]
	ui = true
[core]
	editor = nvim
